When 
<div class="dropdown" id="whendd" style="display:inline">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
        <span data-bind="text: selectedDate"></span>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" data-bind="foreach: days">
        <li role="presentation"><a class="list-group-item" data-bind="text: formattedDate,click: $parent.select"></a></li>
    </ul>
</div>
<!-- <select id="dateSelect" data-bind="options: days, optionsText: 'formattedDate', value: selectedDate"></select>-->
 Where 
<input type="text" id="search"   class="form-control search" style="display: inline;width:auto" />
<input id="btnSearch" type="button" class="btn btn-primary" value="Goodie!!" data-bind="click: search" />
